$powell-red: #B80000;
$header-color: #505050;

@mixin social-squares {
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5; }

@import "_umbrella.scss";
@import "_header.scss";
@import "_nav-bar.scss";
@import "_scroll-banner.scss";
@import "_news.scss";
@import "_bio-block.scss";
@import "_skateboard-loop";
@import "_contact-us.scss";
@import "_responsive.scss";


/* TODO: add links to youtube videos in bio blocks*/
/* TODO: make articles expand on height when click read more*/
/* TODO: add floating side banner */
/* TODO: contact form */
/* TODO: link socialMedia */
