html {
  background: url(assets/bg.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


body {
  width: 100%;

}

ul li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

header {
  display:inline-block;
  max-width: 70.8%;
  height: 50px
  height: auto;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.topHeader {
  display:inline-block;
  float: right;
  width: 50%;
  font-size: 1vmax;
}

.topHeader div {
  display: block;
  height: auto;
}

.subscribe {
  display: inline-block;
  float: left;
  max-width: 20%;
  list-style-type: none;
}

.subscribe div {
  margin: 5%x;
  height: auto;
}

.subscribe a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.5vmax;
  margin-top: auto;
}

.subscribe:hover a {
  display: inline-block;
  text-decoration: none;
  color: black;

}

.socialMedia {
  display: inline-block;
  float: right;
  max-width: 70%;
}

.socialMedia ul li {
  display: inline-block;
  width: auto;
}

.socialMedia ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.socialMedia li {
  margin: 2px;
  font-size: 40px;
  width: auto;
  font-size: 4vmax;
}



#ellipsis {
  color: white;
}

#facebook-square {
  color: #3059D6;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#facebook-square:hover {
  color: #3059D6;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}

#rss-square {
  color: #FFAC30;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#rss-square:hover {
    color: #FFAC30;
    background-color: grey;
    background-position: bottom;
    border-radius: 5px;
    opacity: 1;
    font-size: 5vmax;
}

#twitter-square {
  color: #19A3FF;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#twitter-square:hover {
  color: #19A3FF;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}

#youtube-square {
  color: #FF0000;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;
}

#youtube-square:hover {
  color: #FF0000;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}

nav {
  display:inline-block;
  max-width: 70%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  width: 100%;
}

.navBar {
  width: 70%;
  display: inline-block;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.navBar ul {
  width: 100%;
  display:block;
  list-style-type: none;
  height: auto;
  text-align: center;
  padding: 0;
  align-items: center;
}

#navboxes {
  display: inline-block;
  width: 23%;
  text-align: center;
}

#navboxes ul p {
  display: inline-block;
  padding: 0px;
  width: 100%;

}

.navBar li {
  display: inline-block;
  height: 20px;
  width: 23%;
  padding:4px;
  padding-top: 8px;
  background-color: #B80000;
  text-align: center;
  color: white;
  font-size: 1vmax;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;


}

.navBar li:hover {

  display: inline-block;
  height:;
  background-color: #B80000;
  text-align: center;
  padding:1%;
  color: black;
  font-size: 1.2vmax;
  opacity: 1;

}

#scrollBanner {
width: 100%;
}

.scrollBanner {
  width:70%;
  height: 200px;
  background: url(assets/top-image.png) no-repeat;
  background-position: top 3%;
  background-size: 900px 500px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;

}
.grid {
  background: url(/assets/grid.png);
  width: auto;
  height: 200px;
  opacity: .2;
  list-style-type: none;
  position: relative;
  top: 0;
}

.logo img {
  margin-left: 1%;
  width: 35%;
  height: auto;
  opacity: 2;

}

#dots {
  width: 100%
  clearfix:all;
}

#dots ul {
  display: block;
  text-align: center;
  width: auto;
  padding: 0;

}


#dots li{
  width: auto;
  display: inline-block;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin: .5%;

}

#dots li:hover {
    color: #B80000;
    opacity: .6;

}

.news {
  width: 72.6%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  font-size: 1vmax;
}

.news aside {
  display: inline-block;
  margin: 1%;
  background-color: white;
}

.article1 {
  width: 30.9%
}

.article2 {
  width: 30.9%
}

.article3 {
  width: 30.9%
}
