
html {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/bg.jpg) no-repeat fixed;

/* TODO: need to get background opacity straight */
/* TODO: scale bio-blocks for mobile and add links to youtube videos*/
/* TODO: scale news for mobile */
/* TODO: fix opacity on logo image */
/* TODO: write content in article boxes Add read more at bottom*/
/* TODO: finish contact-us
- social icons
-submit button
-email form boxes
*/
/* TODO: add floating side banner */

}


body {
  width:100%;
  height: 100%;
  margin-bottom: 10%;
}

div {
  width: 100%
}

.page-wrapper {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

ul li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.top-page {
  float: right;
  width: 100%;
  text-align: right;
}

.top-header {
  display:inline-block;
  width: 50%;
  float: right;
  font-size: 1vmax;
  margin-right: 1.2%;
}


.subscribe {
  display: inline-block;
  float: left;
  width: 20%;
  list-style-type: none;
  margin-top: 1.5%;
  margin-left: 5%;

}

.subscribe p {

}


.subscribe a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.5vmax;
}

.subscribe:hover a {
  display: inline-block;
  text-decoration: none;
  color: black;

}

.socialMedia {
  display: inline-block;
  float: right;
  width: 70%;
}

.socialMedia ul li {
  display: inline-block;
}

.socialMedia ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.socialMedia li {
  display: inline-block;
  margin: 2px;
  font-size: 4vmax;
}



#ellipsis {
  color: white;
}

#facebook-square {
  color: #3059D6;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#facebook-square:hover {
  color: #3059D6;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}

#rss-square {
  color: #FFAC30;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#rss-square:hover {
    color: #FFAC30;
    background-color: grey;
    background-position: bottom;
    border-radius: 5px;
    opacity: 1;
    font-size: 5vmax;
}

#twitter-square {
  color: #19A3FF;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;

}

#twitter-square:hover {
  color: #19A3FF;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}

#youtube-square {
  color: #FF0000;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: .5;
}

#youtube-square:hover {
  color: #FF0000;
  background-color: grey;
  background-position: bottom;
  border-radius: 5px;
  opacity: 1;
  font-size: 5vmax;
}



.navBar {
  width: 100%;
  max-height: 45px;
  display: inline-block;
  height:auto;
  margin-left: auto;
}

.navBar div {
  width: 100%;
  max-height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.navBar ul {
  text-align: center;
  width: 100%;
  display:inline-block;
  padding: 0;
  margin: auto;

}

#navBoxes {

  max-width: 100%;
  text-align: center;
  margin:  auto;
}


.navBar li {
  display: inline-block;
  width: 22%;
  padding: .9%;
  background-color: #B80000;
  text-align: center;
  color: white;
  font-size: 1.3vmax;
  opacity: 1;
  position: relative;
  top: 0px;
  height: auto;
  border-bottom: 3px solid grey;
}

.navBar li:hover {

  display: inline-block;
  background-color: #B80000;
  text-align: center;
  color: grey;
  opacity: .7;
  font-weight: bold;
  border-bottom: 3px solid grey;

}

#scrollBanner {
  background:url(assets/top-image.png) no-repeat;
  width: 96%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-size: 150%;
  background-position: -60px -80px;
  bottom: 10%;
  border: 5px solid white;

}

.scrollBanner {
  width: auto;
  max-height: 170px;
  background: url(assets/grid.png);
  opacity: .2;

}


#logo {
  display:block;
  margin-left: 1%;
  width: 45%;
  max-height: 170px;
  list-style-type: none;
  position: relative;
  top: 0;

}

.grid {
  max-height: 170px;
}

#dots {
  width: 100%;
}

#dots ul {
  display: block;
  text-align: center;
  width: auto;
  padding: 0;

}


#dots li{
  width: 2.3%;
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  background-color: white;
  border-radius: 100%;
  color: white;
  border-bottom: 2px solid grey;
  line-height: .9%;

}

#dots li:hover {
    color: #B80000;

}

.news {
  width: 100%;
  max-height: 200px;
  font-size: 1vmax;
  margin-bottom: 1vmax;

}

.news aside {
  display: inline-block;
  background-color: white;
  max-width: 32%;
  text-align: left;
}

.news div {
  width: 85%;
  margin: auto;
  font-size: 1.1vmax;
}

.article1 {
  float: left;
  border-bottom: 3px solid grey;
  overflow: scroll;
  max-height: 250px;
}

.article1 h1 {
  font-size: 1.8vmax;
}

.read-more-containter {
  display: flex;
  position: fixed;
  bottom: ;
}

.read-more {
  color: red;
  text-align: center;
}

.article2 {
  border-bottom: 3px solid grey;
}

.article3  {
  float: right;
  border-bottom: 3px solid grey;
}

.news p {
  line-height: 23px;
}

.bio-blocks {
  display: inline-block;
  margin-top: 3vmax;
  width: 100%;
  height: 180px;
}

.skaters {
  width: 100%;
  height: 100%;
}

.lance-rodney {
  height: 46.5%;
  display: inline-block;
  margin-bottom: 2%;
}

.lance-rodney-steve {
  display: inline-block;
  width: 66%;
  height: 100%;
  float: left;

}

.lance {
  background: url(assets/sk8er-4.png);
  background-size: 140%;
  background-position: -70px ;
  width: 47.5%;
  border: 3px solid white;
  display: inline-block;
  height:100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.lance-background {
  height: 110%;
  width: 106%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid grey;
}

.lance p {
font-size: 2.6vmax;
font-weight: bolder;
color: white;
}

.rodney {
  background: url(assets/sk8er-3.png);
  background-size: 120%;
  background-position: ;
  width: 47.5%;
  height: 100%;
  border: 3px solid white;
  float: right;
}

.rodney-background {
  height: 103.5%;
  width: 101.5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid grey;
}

.rodney p {
  text-align: center;
  vertical-align: middle;
  font-size: 2.6vmax;
  font-weight: bolder;
  color: white;
}

.steve {
  background: url(assets/sk8er-1.png);
  background-size: 110%;
  background-position: 0 -73px;
  width: 98.9%;
  height: 46.5%;
  width: 100%
  display: block;
  border: 3px solid white;
}

.steve-background {
  height: 104%;
  width: 100.9%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid grey;

}

.steve p {
  text-align:center;
  font-size: 2.5vmax;
  font-weight: bolder;
  color: white;
}

.tommy {
  background: url(assets/sk8er-2.png) no-repeat;
  background-size: 275%;
  background-position: 80%;
  width: 31.3%;
  height: 100%;
  border: 3px solid white;
  float: right;

.tommy-background {


}


}

.center-tommy {
  display: block;
  height: 101.7%;
  width: 102%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid grey;
}


.tommy p {
  text-align: center;
  font-size: 2.6vmax;
  font-weight: bolder;
  color: white;
  height: 100%;
}

.skate-boards {
  background-color: white;
  display: inline-block;
  width:2000px;
  height: 100%;
  overflow: hidden;
  margin-top: 7%;
  border-bottom: 3px solid grey;

}

.skate-boards img {
  margin: 1%;
  display: inline-block;

}

.skate-boards img:hover {
  width:

}


* (margin:0; padding:0;)

.photo-banner {
  height: 233px;
  width: 2400px;
  margin-bottom: 80px;

}

.first-board {
    -webkit-animation: bannermove 10s linear infinite;
       -moz-animation: bannermove 10s linear infinite;
        -ms-animation: bannermove 10s linear infinite;
         -o-animation: bannermove 10s linear infinite;
            animation: bannermove 10s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1600px;
 }
}

@-moz-keyframes bannermove {
 0% {
   margin-left: 400px;
 }
 100% {
   margin-left: -2300px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: -300px;
 }
 100% {
   margin-left: -2440px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2300px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2300px;
 }

}
.contact-us {
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.contact-us-par {
  display: inline-block;
  float: left;
  text-align: left;
  width: 49%;
  height: 100%;
  background-color: white;
}

.email-form {
  float: right;
  width:49%;
  height: 100%;

}

.email-form div {
  display: inline-block;
  width: 100%;
}

.email-form p {
  width: 100%;
  text-align: left;
}
